.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;

}

.request {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    border: none;
}


h3 {display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    margin: 12px auto;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 12px;
    margin-top: 0;
}

.label_input {
    margin: 0;
}

button {
    margin: 0 0 0 12px;
}