.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 280px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;

    border-radius: 10px;

}
.contactList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 210px;
    padding: 0px;
    margin: 0 auto;
   
}

.contactList_item {
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-bottom: 10px;
}

/* .contactList_item_name {
    display: flex;
} */

.contactList_item_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: 10px auto;

}

.contactList_item_label_spin {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: 10px auto;
}

p {
    display: flex;
    font-size: 9pt;
    width: 150px;
}

.btn {
    margin: 0px;
    /* margin-left: 5px; */
    color: rgb(68, 68, 68);
    background-color: rgba(238, 238, 238, .5);
    width: 70px;
    height: 30px;
    border: 1px;
    border-radius: 15px;
}    
    
.btn:active {
    box-shadow: 1px 1px 2px 1px rgba(52, 52, 52, 0.2);
        }