.wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.username {
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255, .6);
}

.link {
    display: inline-block;
    text-decoration: none;
    letter-spacing: -1px;
    padding: 12px;
    font-weight: 500;
    color: rgba(42, 54, 60, .6);
}

.link:hover {
    color: #f0a6b0;
}


.link:active {
    color: #e84a5f;
}